#btn-white {
    background-color: white;
    color: black;
}

#btn-red {
    background-color: red;
}

#btn-green {
    background-color: green ;
}

#btn-blue {
    background-color: blue;
}

#btn-yellow {
    background-color: yellow;
    color: black;
}

#btn-pink {
    background-color: pink;
}

#btn-purle {
    background-color: purple;
}

#btn-violet {
    background-color: violet;
}

#btn-black {
    background-color: black;
    color: white;
}
